/* Waybar Style - Yellow Rice */

* {
    font-family: "Meslo LG M";
    font-size: 18px;
    border: none;
    min-height: 0;
}

window#waybar {
    background: rgba(0, 0, 0, 0.5);
    color: #fcc000;
    border : 3px solid #c4a000;
}

#workspaces button {
    padding: 4px 10px;
    margin: 2px;
    border-radius: 6px;
    background: transparent;
    color: #808080;
}

#workspaces button.active {
    background: linear-gradient(45deg, #fcc000, #ffd11a);
    color: #1A1F2B;
    border: 1px solid #fcc000;
    margin-top: 10px;
    margin-bottom: 10px;
    box-shadow:
        inset 0 1px 0 rgba(255, 255, 255, 0.3),
        0 0 10px rgba(252, 192, 0, 0.8); /* glow in theme color */
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.8);
}

#workspaces button:hover {
    background: rgba(0,0,0,0.6);
    margin-top: 5px;
    margin-bottom: 5px;
    border: 1px solid #c4a000;
}

#workspaces button.empty {
    color: #ffd11a;
}
#custom-launcher {
    margin-left: 5px;
    font-size: 30px;
}

#battery,
#custom-logout{
    margin-right: 5px;
}
