* {
    font-family: "Meslo LG M";
    font-size: 18px;
    font-weight: 500;
    border-radius: 0px;
}

.topbar {
    background: transparent;
    border-top: 4px solid #41ec55;
}

.bottombar {
    background: transparent;
    border-bottom: 4px solid #41ec55;
}

#wireplumber,
#disk,
#tray,
#clock,
#cpu,
#memory,
#battery {
    padding: 2px 12px;
    padding-top: 2px;
    color: #41EC55;
}

#window {
    color: #41EC55;
}

#custom-stats,
#custom-skills {
    color: #41EC55;
    padding-left: 2px;
    font-size: 24px;
    font-weight: bold;
}

#custom-skills {
    padding-right: 16px;
}

#custom-separator,
#custom-separator-left,
#custom-separator-right {
    color: #41EC55;
    margin-top: -14px;
    font-size: 38px;
    font-weight: bold;
}

#custom-separator-left {
    margin-left: -10px;
    padding-right: 4px;
}

#custom-separator-right {
    margin-right: -10px;
    padding-left: 4px;
}

#custom-logout {
    color: #41EC55;
    padding: 2px 4px;
    padding-top: 2px;
    padding-right: 4px;
    font-size: 22px;
}

#workspaces button.active {
    background: transparent;
    color: #41EC55;
    border-bottom: 3px solid #41EC55;
    margin-bottom: 4px;
}

#workspaces button {
    background: transparent;
    color: #41EC55;
}
