* {
    font-family: "Meslo LG M";
    font-size: 20px;
    min-height: 35px;
}

#waybar {
    background-image: url("assets/background.webp");
    background-size: 100% 100%;
    background-repeat: repeat-x;
}

#custom-launcher {
    background-image: url("assets/Launcher.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin-right: 25px;
    padding-right: 120px;
    margin-left: 15px;
}

#wireplumber,
#battery {
    background-image: linear-gradient(to bottom,
            #16adf0 0%,
            #19b9f3 5%,
            #1290e8 20%,
            #0d8dea 60%,
            #0fa0ef 90%,
            #1582dc 100%);
    padding-left: 4px;
    padding-right: 4px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
}

#tray {
    background-image: linear-gradient(to bottom,
            #16adf0 0%,
            #19b9f3 5%,
            #1290e8 18%,
            #0d8dea 60%,
            #0fa0ef 90%,
            #1582dc 100%);
    border-left: 0.5px solid rgb(0, 0, 0);
    border-radius: 3px;
    padding-left: 10px;
    padding-right: 15px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
}

#clock {
    background-image: linear-gradient(to bottom,
            #16adf0 0%,
            #19b9f3 5%,
            #1290e8 18%,
            #0d8dea 60%,
            #0fa0ef 90%,
            #1582dc 100%);
    padding-right: 25px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
}

#window {
    background-image: linear-gradient(0deg, #1a5a99, #2176c7);
    border: 1px solid #174a7c;
    box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.4);
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 4px;
    margin-bottom: 4px;
}

tooltip {
    background-image: linear-gradient(to bottom,
            #16adf0 0%,
            #19b9f3 5%,
            #1290e8 18%,
            #0d8dea 60%,
            #0fa0ef 90%,
            #1582dc 100%);
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
    padding-right: 25px;
}
