* {
    font-family: "Meslo LG M";
    font-size: 20px;
}

window#waybar {
    background-color: transparent;
}

#window label {
    font-weight: bold;
}

#workspaces {
    margin-top: 10px;
    margin-right: 10px;
    margin-left: 15px;
}

#workspaces button {
    color: #660000;
    background: transparent;
    margin-right: 10px;
    padding: 20px;
    padding-top: 4px;
    padding-bottom: 2px;
    font-weight: bolder;
}

#workspaces button.active {
    background: transparent;
    color: #990000;
    margin-right: 10px;
    margin-bottom: 5px;
}

#workspaces button.empty {
    color: #c0c0c0;
}

#wireplumber,
#custom-music,
#custom-logout,
#tray,
#battery {
    color: #c0c0c0;
    background: transparent;
    font-weight: bolder;
    margin-top: 20px;
    margin-left: 45px;
    font-size: 16px;
}

#window {
    margin-top: 10px;
}

#custom-launcher {
    color: #990000;
    margin-right: 10px;
    margin-left: 45px;
    font-size: 34px;
}
