* {
    bg-col:         #2E3440;
    bg-col-light:   #3B4252;
    border-col:     #88C0D0;
    selected-col:   #3B4252;
    blue:           #88C0D0;
    fg-col:         #D8DEE9;
    fg-col2:        #BF616A;
    grey:           #4C566A;
    width:          600;
    font:           "JetBrainsMono Nerd Font 14";
}
