* {
    font-family: "Meslo LG M";
    font-size: 20px;
    font-weight: bolder;
    border: none;
    border-radius: 6px;
}

#waybar.topbar {
    background: transparent;
    border: none;
    min-height: 45px;
}

#waybar.bottombar {
    background: transparent;
    border: none;
    min-height: 28px;
}

#workspaces button,
#battery,
#cpu,
#memory,
#disk,
#wireplumber,
#window,
#custom-launcher,
#tray,
#custom-logout,
#custom-music {
    padding: 6px 12px;
    margin: 0 6px;
    border-radius: 6px;

    /* Face color */
    color: #1a1f27;

    box-shadow:
        0 4px 8px rgba(0, 0, 0, 0.45),
        0 1px 3px rgba(0, 0, 0, 0.6),
        inset 0 0 2px rgba(255, 255, 255, 0.15);
}


#workspaces {
    margin: 0 8px;
}

#workspaces button {
    background-color: #c0c0c0;
    color: #232733;
    border-bottom: 2px solid transparent;
}

#workspaces button.active {
    background-color: #957dad;
    color: #232733;
    box-shadow:
        0 0 0 2px rgba(122, 162, 247, 0.25),
        0 2px 4px rgba(0, 0, 0, 0.4),
        inset 0 0 5px rgba(0, 0, 0, 0.5);
    border-bottom: 2px solid #957dad;
}

#workspaces button.empty {
    background-color: #232733;
    color: #c0c0c0;
}


#window {
    background-color: #ffe066;
    border: 1px solid #232733;
}

#battery {
    background-color: #69db7c;
    border: 1px solid #232733;
}

#battery.warning {
    background-color: #ffd43b;
}

#battery.critical {
    background-color: #ff6b6b;
}

#cpu {
    background-color: #74c0fc;
    border: 1px solid #232733;
}

#memory {
    background-color: #ff922b;
    border: 1px solid #232733;
}

#disk {
    background-color: #ff8e8e;
    border: 1px solid #232733;
}

#wireplumber {
    background-color: #339af0;
    border: 1px solid #232733;
}

#wireplumber.muted {
    background-color: #ff4d5c;
}

#tray {
    background-color: #c0c0c0;
    color: #232733;
    border: 1px solid #232733;
    padding: 4px 10px;
}

#custom-launcher {
    background-color: #9775fa;
    font-size: 32px;
    border: 1px solid #232733;
}

#custom-music {
    background-color: #ff4d5c;
    border: 1px solid #232733;
}

#custom-logout {
    background-color: #9775fa;
    border: 1px solid #232733;
}
