/* Monochrome */
* {
    font-family: "Meslo LG M";
    font-size: 18px;
    font-weight: bold;
    margin: 0;
}

window#waybar {
    background: transparent;
    color: #eeeeee;
}

#workspaces button {
    color: #eeeeee;
    padding-left: 0.7em;
}

#workspaces button.empty{
    color: #aaaaaa;
}

#workspaces button.active {
    border: 1px solid #E6EEF3;
    box-shadow:
        inset 0 1px 0 rgba(255, 255, 255, 0.3),
        0 0 10px rgba(100, 100, 100, 0.8);
}

#window {
    padding: 0 15px;
    margin: 5px 2px;
    color: #E6EEF3;
}

#custom-music,
#wireplumber,
#battery,
#disk,
#custom-logout,
#clock {
    padding-right: 1em;
}

#custom-launcher {
    font-size: 38px;
}

